* {
    margin: 0;
    border: 0;
}

.img {
    width: 90%;
}

.container {
    width: 100%;
    height: 90%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(56, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
}
img{
    justify-content: center;
    display: flex;
    margin: auto;
    top: 10vh;
     position: relative;
}